/* App CSS */
.board {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	padding: 3%;
}

/* Column */
.column {
	display: flex;
	align-content: space-between;
	flex-direction: column;
	border: 1px solid black;
	margin: 1%;
	width: 30%;
}

.column-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
}

#new-card-btn {
}

.column-body {
	border: 1px solid black;
}
